body{font-family: helvetica, sans-serif;
    background-color: #e4e7e4;
    margin: 20px;
    color: #2E3961;}
.evenrow {background-color:#C0C4CA}
h1{font-size: 2em}
h2{font-size: 1.5em}
a {color: #777F96;}
h1, h2{color:#0A1647;}
nav{background-color: #0A1647;color:#E4E7E4}
nav a{color: #FFFFFF;}
nav a:hover{background-color: #535C7B;}
nav{padding: 10px;
margin-bottom: 30px;}
